
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #ffd6ec, #d6f0ff);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffe3f0;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #5b5be3;
    font-weight: bold;
}

main {
    padding: 20px;
}

img {
    max-width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #aaa;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #fff;
}
